<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<ul ng-class="navBarClass">
	      <li>
	      		<a>
	      			<span class="glyphicon glyphicon-user"></span> {{currentUser.name}}
	      		</a>
	      </li>
	      <li ng-if="currentUser">
	      	<a href="" ng-click="logout()">
	      		<span class="glyphicon glyphicon-log-out"></span> 
	      		{{logOut}} 
	      	</a>
	      </li>
	       <li ng-if="!currentUser" >
	      	<a href="#">
	      		<span class="glyphicon glyphicon-log-in"></span>
	      		{{logIn}}
	      	</a>
	      </li>
    	</ul>
  	</div>
</nav>
