<div>

	<div>
		<button type="button" ng-class="tableButtonClass"
			ng-click="openAddNewFileDialog()" title="Create">
		    <span class="glyphicon glyphicon-plus"></span>
			Add new file
		</button>
	</div>

	<table ng-table-dynamic="tableParams with options.tableCols"
	             class="table table-condensed table-bordered table-striped"
	             dir="{{config.languageDirection}}"
	             disable-filter="false"
	             show-filter="true">

						<tr ng-repeat="file in data">
	          	<td ng-repeat="col in $columns">
		          	<p ng-if="col.field!='actions'">
									{{options.getDisplayProperty (file, col)}}
								<p>
		          	<div ng-if="col.field=='actions'">
								<button type="button" ng-class="rowButtonClass" ng-click="onView(file)" title="View">
									<span class="glyphicon glyphicon-eye-open">
								</button>
							</div>
	          </td>
	        </tr>
	  </table>

 </div>
