<div>
	<table ng-table-dynamic="tableParams with options.tableCols"
             class="table table-condensed table-bordered table-striped"
             dir="{{config.languageDirection}}"
             disable-filter="false"
             show-filter="true">
        <tr ng-repeat="rowData in data">
          <td ng-repeat="col in $columns">
	          	<p ng-if="col.field!='actions'">{{options.getDisplayProperty (rowData, col)}}<p>
							<div ng-if="col.field=='actions'">
									<buttons-in-row data="rowData" options="options.actions"> </buttons-in-row>
							</div>
          </td>
        </tr>
      </table>
 </div>
