<div>
	<table ng-table-dynamic="tableParams with options.tableCols"
             class="table table-condensed table-bordered table-striped"
             dir="{{config.languageDirection}}"
             disable-filter="false"
             show-filter="true">
        <tr ng-repeat="article in data">
          <td ng-repeat="col in $columns">
	          	<p ng-if="col.field!='actions'">{{options.getDisplayProperty (article, col)}}<p>
	          	<actions-on-article ng-if="col.field=='actions'" article = "article" options="options.actions">
	          	</actions-on-article>
          </td>
        </tr>
      </table>
 </div>
