<div class="inmodal">
	<form name="userForm" class="horizontal-form" novalidate ng-submit="vm.save()"> 
    <div class="modal-header">
        <h4 class="modal-title">Create New User</h4>
    </div>
   		<div class="modal-body">
	   		<div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid}">
	                <label class="control-label">name</label>
	                <input type="text" name="name" class="form-control" ng-model="vm.tempUser.name" ng-minlength="3" ng-maxlength="8" required/>
	                <form-validation ng-messages="userForm.name.$error" ng-if="userForm.name.$touched" field-name="name"></form-validation>
	        </div>
	        <div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid}">
                <label class="control-label">Password</label>
                <input type="password" name="password" class="form-control" ng-model="vm.tempUser.password" ng-minlength="3" ng-maxlength="8" required/>
                <form-validation ng-messages="userForm.password.$error" ng-if="userForm.password.$touched" field-name="Password"></form-validation>
            </div>
              <div class="form-group" ng-class="{ 'has-error': userForm.confirmPassword.$touched && userForm.confirmPassword.$invalid}">
                <label class="control-label">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" ng-model="vm.tempUser.confirmPassword" ng-minlength="3" ng-maxlength="8" confirm-password="vm.tempUser.password" required/>
                <form-validation ng-messages="userForm.confirmPassword.$error" ng-if="userForm.confirmPassword.$touched" field-name="Confirmed Password"></form-validation>
            </div>
            <div class="form-group" ng-class="{ 'has-error': userForm.role.$touched && userForm.role.$invalid}">
                <label class="control-label">Role</label>
                <select class="form-control m-b" name="role" ng-model="vm.tempUser.userRoleId" required>
                    <option value=1>Administrator</option>
                    <option value=2>User</option>
                </select>
                <form-validation ng-messages="userForm.role.$error" ng-if="userForm.role.$touched" field-name="Role"></form-validation>
            </div>
             <p class="class-error-message">{{vm.errorMessage}}</p>
    	</div>
	    <div class="modal-footer">
	    	    <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
	        	<button type="submit" class="btn btn-primary" ng-disabled="!userForm.$valid">Save</button>
	    </div>
   </form>
</div>