<div class = "col-sm-11 pull-right">
	<div>
          <label class="control-label">Local folder path</label>
          <input type="text" name="path" class="form-control" ng-model="data.folderPath" 
          		 ng-minlength="1" ng-maxlength="300" required/>
	</div>
	<div>
          <label class="control-label">Wiki language</label>
          <input type="text" name="language" class="form-control" ng-model="data.language" 
          		 ng-minlength="1" ng-maxlength="300" required/>
	</div>
	
	<div>
          <label class="control-label">Files Extensions</label>
          <input type="text" name="extensions" class="form-control" ng-model="data.extensions" 
          		 ng-minlength="1" ng-maxlength="300" required/>
	</div>
</div>