<div class="inmodal">
	<form name="articleForm" class="horizontal-form" novalidate ng-submit="vm.create()"> 
    <div class="modal-header">
        <h4 class="modal-title">Create Article</h4>
    </div>
   		<div class="modal-body">
   		
	   		<div class="form-group" ng-class="{ 'has-error': articleForm.name.$touched && articleForm.name.$invalid}">
	                <label class="control-label">name</label>
	                <input type="text" name="name" class="form-control" ng-model="vm.article.name" ng-minlength="1" ng-maxlength="30" required/>
	                <form-validation ng-messages="articleForm.name.$error" ng-if="articleForm.name.$touched" field-name="name"></form-validation>
	        </div>
	        
	        <div class="form-group" ng-class="{ 'has-error': articleForm.nameSpace.$touched && articleForm.nameSpace.$invalid}">
	                <label class="control-label">name space</label>
	                <input type="text" name="nameSpace" class="form-control" ng-model="vm.article.nameSpace" ng-minlength="1" ng-maxlength="30" required/>
	                <form-validation ng-messages="articleForm.nameSpace.$error" ng-if="articleForm.nameSpace.$touched" field-name="nameSpace"></form-validation>
	        </div>
	        
	        <div class="form-group" ng-class="{ 'has-error': articleForm.wikiCodeLanguage.$touched && articleForm.wikiCodeLanguage.$invalid}">
	                <label class="control-label">wiki code language</label>
	                <input type="text" name="wikiCodeLanguage" class="form-control" ng-model="vm.article.wikiCodeLanguage" ng-minlength="1" ng-maxlength="30" required/>
	                <form-validation ng-messages="articleForm.wikiCodeLanguage.$error" ng-if="articleForm.wikiCodeLanguage.$touched" field-name="wikiCodeLanguage"></form-validation>
	        </div>
	        
	        <div class="form-group" ng-class="{ 'has-error': articleForm.contentSource.$touched && articleForm.contentSource.$invalid}">
	                <label class="control-label">content_source</label>
	                <textarea class="form-control" name="contentSource" cols="40" rows="4" ng-model="vm.article.contentSource" required></textarea>  
	                <form-validation ng-messages="articleForm.contentSource.$error" ng-if="articleForm.contentSource.$touched" field-name="contentSource"></form-validation>
	        </div>
	        
            
             <p class="class-error-message">{{vm.errorMessage}}</p>
    	</div>
	    <div class="modal-footer">
	    	    <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
	        	<button type="submit" class="btn btn-primary" ng-disabled="!articleForm.$valid">Create</button>
	    </div>
   </form>
</div>
